<div class="divContainer">
    <div class="cardContainer">
        <div class="card">
            <div class="lines"></div>
            <div class="imgBx">
                <img src="https://avatars.githubusercontent.com/u/45775013?v=4" alt="img">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Software Developer</h2>
                    <small>Ver Stacks</small>
                    <div class="divStacks">
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original-wordmark.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/laravel/laravel-plain-wordmark.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
                        <img width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-plain.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg" />
                        <img width="40"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divApresentation">
        <div class="divMe">
            <h2>Olá, meu nome é Alan!</h2>
            <!-- <h2>Hi, my name is Alan!</h2> -->
        </div>
        <div class="divAbautMe">
            <!-- <p>I am 28 yars old, i have been developing Software professionally for 3 years </p> -->
            <p>Tenho 28 anos, desenvolvo Software profissionalmente à 3 anos.</p>
        </div>
    </div>
</div>