<div class="divContainer">
    <div class="buttonsLeft">
        <div class="circle">
            <button id="up" (click)="actionMove('up')" class="top"><i class="fa fa-caret-up"></i></button>
            <button id="right" (click)="actionMove('right')" class="right"><i class="fa fa-caret-right"></i></button>
            <button id="down" (click)="actionMove('down')" class="down"><i class="fa fa-caret-down"></i></button>
            <button id="left" (click)="actionMove('left')" class="left"><i class="fa fa-caret-left"></i></button>
        </div>
    </div>
    <div class="divCenter">
        <i id="start" (click)="start()" class="fa fa-play"></i>
        <label >Start</label>
    </div>
    <div class="buttonsRight">
        <div class="buttonTop">
            <button id="green" (click)="actions('green')" class="buttonA" >A</button>
            <button id="blue" (click)="actions('blue')" class="buttonB" >B</button>
        </div>
        <div class="buttonDown">
            <button id="yellow" (click)="actions('yellow')" class="buttonC" >C</button>
            <button id="red" (click)="actions('red')" class="buttonD" >D</button>
        </div>
    </div>
</div>