<div class="divContainer">
    <div class="buttonsLeft">
        <div class="circle">
            <button id="up" (click)="move('up')" class="top"><i class="fa fa-caret-up"></i></button>
            <button id="rigth" (click)="move('rigth')" class="rigth"><i class="fa fa-caret-right"></i></button>
            <button id="down" (click)="move('down')" class="down"><i class="fa fa-caret-down"></i></button>
            <button id="left" (click)="move('left')" class="left"><i class="fa fa-caret-left"></i></button>
        </div>
    </div>
    <div class="divCenter">
        <i id="start" (click)="start()" class="fa fa-play"></i>
        <label >Start</label>
    </div>
    <div class="buttonsRigth">
        <div class="buttonTop">
            <button id="A" (click)="actions('A')" class="buttonA" >A</button>
            <button id="B" (click)="actions('B')" class="buttonB" >B</button>
        </div>
        <div class="buttonDown">
            <button id="C" (click)="actions('C')" class="buttonC" >C</button>
            <button id="D" (click)="actions('D')" class="buttonD" >D</button>
        </div>
    </div>
</div>